
<h2>Languages:</h2>


    <ul>
        <li><a asp-controller="Langua" asp-action="Swedish">Swedish</a></li>
        <li><a asp-controller="Langua" asp-action="Polish">Polish</a></li>
        <li><a asp-controller="Langua" asp-action="Russian">Russian</a></li>
    </ul>


   